<% if locals[:view_template] %>
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label><%= locals[:question].title %></label>
        </div>
        <div class="panel-body">
          <div class="help-block small"><%= locals[:question].instruction %></div>
          <select class="form-control" disabled multiple>
            <% options = JSON.parse(locals[:question].content); options.each_with_index do |itm, idx| %>
                <option value="<%= idx %>" <% if not locals[:question_response].nil? and locals[:question_response].include? idx.to_s %>selected<% end %>>
                  <%= itm %>
                </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
<% else %>
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label><%= locals[:question].title %></label>
        </div>
        <div class="panel-body">
          <div class="help-block small"><%= locals[:question].instruction %></div>
          <select class="form-control question-multiple-select" multiple name="<%= get_question_name(locals[:question]) %>[]"
            <% extras = JSON.parse(locals[:question].extras); extras.each do |name, val| %>
              data-<%=name%>="<%=val%>"
            <% end %> data-values="<%= locals[:question_response] %>">
            <% options = JSON.parse(locals[:question].content); options.each_with_index do |itm, idx| %>
                <option value="<%= idx %>" <% if not locals[:question_response].nil? and locals[:question_response].include? idx.to_s %>selected<% end %>>
                  <%= itm %>
                </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
<% end %>
