<% if locals[:view_template] %>
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label><%= locals[:question].title.html_safe %></label>
        </div>
        <div class="panel-body">
          <div class="help-block small"><%= locals[:question].instruction.html_safe %></div>
          <div class="col-sm-12">
            <% options = JSON.parse(locals[:question].content); options.each_with_index do |itm, idx| %>
                <div class="">
                  <% if not locals[:question_response].nil? and locals[:question_response].to_s == idx.to_s %>
                      <span class="state-icon glyphicon glyphicon-check"></span>
                  <% else %>
                      <span class="state-icon glyphicon glyphicon-unchecked"></span>
                  <% end %>
                  <%= itm %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label><%= locals[:question].title.html_safe %></label>
        </div>
        <div class="panel-body">
          <div class="help-block small"><%= locals[:question].instruction.html_safe %></div>
          <div class="col-sm-12">
            <% options = JSON.parse(locals[:question].content); options.each_with_index do |itm, idx| %>
                <div class="radio">
                  <input type="radio" name="<%= get_question_name(locals[:question]) %>" value="<%= idx %>"
                         <% if not locals[:question_response].nil? and locals[:question_response].to_s == idx.to_s %>
                         checked="checked"
                         <% end %>
                         >
                  <%= itm %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>
