<% if locals[:view_template] %>
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label><%= locals[:question].title %></label>
        </div>
        <div class="panel-body">
          <div class="form-control-static">
            <%= locals[:question_response].nil? ? '' : locals[:question_response].html_safe %>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label><%= locals[:question].title %></label>
        </div>
        <div class="panel-body">
          <div class="help-block"><%= locals[:question].instruction %></div>
          <textarea class="form-control tinymce" rows="7" name="<%= get_question_name(locals[:question]) %>"
                    placeholder="<%= locals[:question].content %>"><%= locals[:question_response].nil? ? '' :
                                                                               locals[:question_response].html_safe %>
          </textarea>
        </div>
      </div>
    </div>
<% end %>
