<div class="form-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <label><%= locals[:question].title %></label>
    </div>
    <div class="panel-body">
      <div class="help-block"><%= locals[:question].instruction %></div>
      <textarea class="form-control" rows="7" name="<%= locals[:question].get_question_id_for_form %>"
                placeholder="<%= locals[:question].content %>"><%= locals[:question_response] %>
      </textarea>
    </div>
  </div>
</div>
