<% if locals[:view_template] %>
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label><%= locals[:question].title.html_safe %></label>
        </div>
        <div class="panel-body">
          <div class="help-block"><%= locals[:question].instruction.nil? ? '' : locals[:question].instruction.html_safe %></div>
          <textarea class="form-control" readonly="true"><%= locals[:question_response] %></textarea>
        </div>
      </div>
    </div>
<% else %>
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label><%= locals[:question].title.html_safe %></label>
        </div>
        <div class="panel-body">
          <div class="help-block"><%= locals[:question].instruction.nil? ? '' : locals[:question].instruction.html_safe %></div>
          <textarea class="form-control" rows="7" name="<%= get_question_name(locals[:question]) %>"
                    placeholder="<%= locals[:question].content %>"><%= locals[:question_response] %></textarea>
        </div>
      </div>
    </div>
<% end %>
