<table class="table table-hover">
  <thead>
  <tr><th>Milestone name</th><th>Peer evaluation average ratings</th><th>Actions</th></tr>
  </thead>
  <tbody>
  <% locals[:milestones].each do |milestone| %>
      <tr>
        <td><%= milestone.name %></td>
        <td><%= locals[:eval_ratings_hash][milestone.id].nil? ?
                        'Not available' : number_to_human(locals[:eval_ratings_hash][milestone.id]) %></td>
        <td><a href="<%= milestone_team_received_evals_path(milestone.id, locals[:team].id) %>"
               class="btn btn-success">View received evaluations</a></td>
      </tr>
  <% end %>
  <tr>
    <td>Overall</td>
    <td><%= locals[:eval_ratings_hash][:all].nil? ?
                    'Not available' : number_to_human(locals[:eval_ratings_hash][:all]) %></td>
    <td></td>
  </tr>
  <tr>
    <td>Feedback</td>
    <td><%= locals[:feedback_ratings_hash][:all].nil? ?
                    'Not available' : number_to_human(locals[:feedback_ratings_hash][:all]) %></td>
    <td>
      <a href="<%= milestone_team_received_feedbacks_path(1, locals[:team].id) %>"
         class="btn btn-success">View all feedbacks</a>
    </td>
  </tr>
  </tbody>
</table>
