<div>
  <div class="col-sm-12">
    <p class="col-sm-3 col-sm-offset-2">Team name:</p>
    <p class="col-sm-7">
    <% if locals[:team].has_dropped %>
      <span data-toggle="tooltip" data-placement="top" title="<%= I18n.t('teams.has_dropped_tooltip') %>">
        <del><%= locals[:team].team_name %></del>
      </span>
    <% else %>
        <span><%= locals[:team].team_name %></span>
    <% end %>
    </p>
  </div>
  <hr>
  <div class="col-sm-12">
    <p class="col-sm-3 col-sm-offset-2">Project level:</p>
    <p class="col-sm-7"><%= locals[:team].get_project_level %></p>
  </div>
  <hr>
  <div class="col-sm-12">
    <p class="col-sm-3 col-sm-offset-2">Members:</p>
    <p class="col-sm-7">
      <% locals[:team].students.each do |student| %>
          <a class="btn btn-info btn-sm" href="<%= student_path(student) %>">
            <%= student.user.user_name %></a>&nbsp;&nbsp;
      <% end %>
      <% if locals[:team].students.length == 0 %>
          <span class="text-muted">No students in this team</span>
      <% end %>
    </p>
  </div>
  <hr>
  <div class="col-sm-12">
    <p class="col-sm-3 col-sm-offset-2">Average rank:</p>
    <p class="col-sm-7"><%= locals[:team].avg_rank %></p>
  </div>
  <hr>
  <div class="col-sm-12">
    <p class="col-sm-3 col-sm-offset-2">Evaluator students:</p>
    <p class="col-sm-7">
      <% locals[:team].evaluator_students.each do |evaluator| %>
            <%= evaluator %></a>
      <% end %>
      <% if locals[:team].evaluator_students.length == 0 %>
          <span class="text-muted">Not evaluator assigned to this team</span>
      <% end %>
    </p>
  </div>
  <hr>
  <div class="col-sm-12">
    <p class="col-sm-3 col-sm-offset-2">Proposal link:</p>
    <p class="col-sm-7">
      <a href="<%=locals[:team].proposal_link%>" style="word-wrap: break-word; width: 100%;">
        <%= locals[:team].proposal_link ? locals[:team].proposal_link : 'Nil' %>
      </a>
    </p>
  </div>
    <div class="col-sm-12">
    <p class="col-sm-3 col-sm-offset-2">Status:</p>
    <p class="col-sm-7">
      <%= locals[:team].application_status %>
    </p>
  </div>
</div>
