<table class="table table-hover table-sortable">
  <thead>
  <tr>
    <th>Team Name</th><th>Project Level</th>
    <th>Adviser</th><th>Mentor</th><th class="unsortable">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% locals[:teams].each do |team| %>
      <tr>
        <td>
          <%= render 'team_name_representation', locals: {team: team} %>
        </td>
        <td><%= team.project_level %></td>
        <td><%= team.adviser ? team.adviser.user.user_name : 'Not assigned' %></td>
        <td><%= team.mentor ? team.mentor.user.user_name : 'Not assigned' %></td>
        <td>
          <a class="btn btn-default btn-xs" href="<%=  team_path(team.id) %>">View</a>
          <a class="btn btn-default btn-xs" href="<%= edit_team_path(team.id) %>">Edit</a>
          <%= link_to 'Delete', team_path(team.id),
                      :confirm => 'Are you sure to delete this team permanently?', :method => :delete, :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
