<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="text-center">View team</h3>
  </div>
  <div class="panel-body">
    <%= form_for locals[:team], :url => {action: 'create'}, :html => {:class => 'form-horizontal'} do |f| %>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="team-name">Team name:</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="Input team name"
                   name="team_name" id="team-name" value="<%= locals[:team].team_name %>" disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="team-project-title">Team project title:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="Input team name"
                   name="project_title" id="team-project-title" value="<%= locals[:team].project_title %>" disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="team-project-level">Team Project Level:</label>
          <div class="col-sm-10">
            <select class="form-control" name="project_level" id="team-project-level" disabled="disabled">
              <option value="Vostok" <%= locals[:team].project_level == 'Vostok' ? 'selected' : '' %>>Vostok</option>
              <option value="Gemini" <%= locals[:team].project_level == 'Gemini' ? 'selected' : '' %>>Project Gemini</option>
              <option value="Apollo 11" <%= locals[:team].project_level == 'Apollo 11' ? 'selected' : '' %>>Apollo 11</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="team-adviser-id">Team's Adviser:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="Input team name"
                   name="project_title" id="team-adviser-id"
                   value="<%= locals[:team].adviser ? locals[:team].adviser.user.user_name : 'Not assigned' %>" disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="team-mentor-id">Team's Mentor:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="Input team name"
                   name="project_title" id="team-mentor-id"
                   value="<%= locals[:team].mentor ? locals[:team].mentor.user.user_name : 'Not assigned' %>" disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="team-mentor-id">Team's Evaluateds:</label>
          <div class="col-sm-10">
            <ul>
              <% locals[:team].evaluateds.each do |eval| %>
                  <li>
                    <%= link_to eval.evaluated.team_name, team_path(eval.evaluated.id) %>
                    <ol>
                      <% eval.evaluated.submissions.each do |submission| %>
                          <li>
                            <%= link_to submission.milestone.name, team_submission_path(eval.evaluated.id, submission.id) %>
                          </li>
                      <% end %>
                    </ol>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="form-group" style="display: none;">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit 'Submit', class: 'btn btn-success' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
