<table class="table table-hover table-sortable">
  <thead>
  <tr>
    <th class="unsortable sort-index">Index</th><th>Team Name</th><th>Project Level</th><th>Has dropped</th>
    <th>Adviser</th><th>Mentor</th><th class="unsortable">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% locals[:teams].each_with_index do |team, idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <td>
          <%= render 'team_name_representation', locals: {team: team} %>
        </td>
        <td><%= team.project_level %></td>
        <td><%= team.has_dropped %></td>
        <td><%= team.adviser ? team.adviser.user.user_name : 'Not assigned' %></td>
        <td><%= team.mentor ? team.mentor.user.user_name : 'Not assigned' %></td>
        <td>
          <% if can_current_user_view_team(team) %>
              <a class="btn btn-default btn-xs" href="<%=  team_path(team.id) %>">View</a>
          <% end %>
          <% if can_current_user_edit_team(team) %>
              <a class="btn btn-default btn-xs" href="<%= edit_team_path(team.id) %>">Edit</a>
          <% end %>
          <% if can_current_user_delete_team(team) %>
              <%= link_to 'Delete', team_path(team.id),
                          :confirm => 'Are you sure to delete this team permanently?', :method => :delete,
                          :class => 'btn btn-danger btn-xs' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
