<%= simple_form_for(locals[:team], wrapper: :horizontal_form, html: {class: 'form-horizontal'},
                    url: {action: (locals[:is_new] ? 'create' : 'update')}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :team_name %>
  <% if locals[:is_new] %>
    <%= f.input :project_level, collection: {Vostok: 'Vostok',
                                            'Project Gemini'.to_sym => 'Project Gemini',
                                            'Apollo 11'.to_sym => 'Apollo 11'},
                                selected: locals[:team].get_project_level,
                                include_blank: false, required: true %>
  <% elsif is_project_level_locked? %>
    <div class="form-group string required team_team_name">
      <label class="string required col-sm-3 control-label"> Project level </label>
      <div class="col-sm-9">
        <p class="string required form-control"><%= locals[:team].get_project_level %></p>
      </div>
    </div>
  <% else %>
    <%= f.input :project_level, collection: {Vostok: 'Vostok',
                                            'Project Gemini'.to_sym => 'Project Gemini',
                                            'Apollo 11'.to_sym => 'Apollo 11'},
                                selected: locals[:team].get_project_level,
                                include_blank: false, required: true %>
  <% end %>
  <% if current_user_admin? %>
    <%= f.input :adviser_id, collection: locals[:advisers].map {|adviser| [adviser.user.user_name, adviser.id]}, include_blank: 'Not assigned' %>
    <%= f.input :mentor_id, collection: locals[:mentors].map {|mentor| [mentor.user.user_name, mentor.id]}, include_blank: 'Not assigned' %>
  <% end %>
  <% if current_user_admin? or current_user_adviser? or current_user_student? %>
    <%= f.input :poster_link, placeholder: true, placeholder: 'Enter in url form e.g. https//...' %>
  <% end %>
  <% if current_user_admin? or current_user_adviser? %>
    <%= f.input :video_link, placeholder: true, placeholder: 'Enter in url form e.g. https//...' %>
    <%= f.input :status, collection: {'No Status'.to_sym => 0, 'Contactable and doing well'.to_sym => 1, 'Contactable but lack of progress'.to_sym => 2,
                                      Uncontactable: 3, 'To be re-evaluated': 4},
                                      selected: locals[:team].status,
                                      include_blank: false, required: true %>
    <%= f.input :comment, placeholder: true, placeholder: 'Enter comments and include your name' %>
  <% end %>
  <% if locals[:is_new] %>
    <input type="hidden" name="team[cohort]" value="<%= locals[:cohort] %>">
  <% end %>
  <%= f.input :has_dropped %>
  <%= f.button :submit_centred, class: 'btn-success' %>
<% end %>
