<% content_for :main_content do %>
    <% javascript 'teams.js' %>
    <%= stylesheet_link_tag :teams %>
      <div class="panel-heading">
        <h3 class="text-center">Teams in cohort <%= cohort %></h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-12">
          <% if can_current_user_download_csv %>
          <div class="col-sm-1 col-sm-offset-2">
            <%= link_to 'Download CSV', teams_path(format: 'csv', cohort: cohort), class: 'btn btn-primary' %>
          </div>
          <% end %>
          <% if can_current_user_create_new_team %>
          <div class="col-sm-1 col-sm-offset-4">
            <a href="<%= new_team_path(cohort: cohort) %>" class="btn btn-success">Create New Team</a>
          </div>
          <% end %>
          <div class="col-sm-1 col-sm-offset-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-filter"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Official Teams</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">All Teams</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Unsuccessful Teams</a>
            </div>
          </div>
        </div>
        <%= render 'teams_table', locals: { teams: @teams } %>
        <br><br><hr>
        <div class="col-sm-12">
          <% all_cohorts.each do |cohort| %>
          <div class="col-sm-2">
            <%= link_to cohort, teams_path(cohort: cohort), class: 'btn btn-info' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
