<% content_for :main_content do %>
    <% javascript 'teams.js' %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="text-center">Teams</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-12">
          <% if can_current_user_download_csv %>
          <div class="col-sm-2 col-sm-offset-3">
            <%= link_to 'Download CSV', teams_path(format: 'csv', cohort: cohort), class: 'btn btn-primary' %>
          </div>
          <% end %>
          <% if can_current_user_create_new_team %>
          <div class="col-sm-2 col-sm-offset-3">
            <a href="<%= new_team_path(cohort: cohort) %>" class="btn btn-success">Create New Team</a>
          </div>
          <% end %>
        </div>
        <br><br><hr>
        <div class="col-sm-12">
          <% all_cohorts.each do |cohort| %>
          <div class="col-sm-2">
            <%= link_to cohort, teams_path(cohort: cohort), class: 'btn btn-info' %>
          </div>
          <% end %>
        </div>
        <br><br><hr>
        <%= render 'teams_table', locals: { teams: @teams } %>
        <br><br><hr>
        <div class="col-sm-12">
          <% all_cohorts.each do |cohort| %>
          <div class="col-sm-2">
            <%= link_to cohort, teams_path(cohort: cohort), class: 'btn btn-info' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
