<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Level of achievement</th>
        <% locals[:milestones].each do |milestone| %>
          <th><%= milestone.name %> evaluations</th>
        <% end %>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% locals[:adviser].teams.each do |team| %>
      <tr>
        <td>
          <% if team.has_dropped %>
            <a class="btn btn-info" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('teams.has_dropped_tooltip') %>" disabled>
              <del><%= team.team_name %></del>
            </a>
          <% else %>
            <a href="<%= team_path(team) %>" class="btn btn-info"><%= team.team_name %></a>
          <% end %>
        </td>
        <td>
          <%= team.get_project_level %>
        </td>
        <% locals[:milestones].each do |milestone| %>
          <td>
            <% team.evaluateds.each do |evaluated| %>
              <% peer_evaluation_id = nil %>
              <% for peer_evaluation in team.peer_evaluations do %>
                <% submission = peer_evaluation.submission %>
                <% if submission.team_id == evaluated.evaluated_id and submission.milestone_id == milestone.id %>
                  <% peer_evaluation_id = peer_evaluation.id %>
                <% end %>
              <% end %>
              <% if peer_evaluation_id != nil %>
                <a href="<%= milestone_team_peer_evaluation_path(milestone.id, evaluated.evaluator_id, peer_evaluation_id) %>" class="btn btn-info"><%= evaluated.evaluated.team_name %></a>
                <br> <br>
              <% else %>
                <% if evaluated.evaluated.has_dropped %>
                  <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('teams.has_dropped_tooltip') %>" disabled>
                    <del><%= evaluated.evaluated.team_name %></del>
                  </a>
                  <br><br>
                <% else %>
                  <a class="btn btn-default" disabled="disabled"><%= evaluated.evaluated.team_name %></a> <br><br>
                <% end %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        <td>
          <a href="<%= edit_team_path(team) %>" class="btn btn-success">Edit</a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
