<table class="table table-hover table-sortable">
  <thead>
  <tr>
    <th class="unsortable sort-index">Index</th><th>User Name</th><th>User Email</th><th class="unsortable">Cohort</th><th class="unsortable">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% locals[:advisers].each_with_index do |adviser, idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= adviser.user.user_name %></td>
        <td><%= adviser.user.email %></td>
        <td><%= adviser.cohort %></td>
        <td>
          <a class="btn btn-default btn-xs" href="<%= adviser_path(adviser.id) %>">View</a>
          <%= link_to 'Delete', adviser_path(adviser.id), method: :delete, class: 'btn btn-danger btn-xs',
            data: { confirm: 'Are you sure you want to delete this adviser?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
