<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      <% if (not locals[:adviser]) %>
          <span class="text-danger">Not an adviser </span>
      <% else %>
          <span><%= locals[:adviser].user.user_name %> </span>
      <% end %>
    </h2>
  </div>
  <div class="panel-body">
    <div class="container">
      <% locals[:milestones].each do |milestone| %>
          <h3 class="text-center"><%= milestone.name %></h3>
          <div class="table-responsive">
            <table class="table">
              <col width="33%">
              <col width="33%">
              <col width="33%">
              <thead>
              <tr><th>Team Name</th><th>Status</th><th>Action</th></tr>
              </thead>
              <tbody>
              <% locals[:adviser].teams.each do |team| %>
                  <% if (team_submission = locals[:teams_submissions][milestone.id][team.id]) %>
                      <tr>
                        <td><a href="<%= team_path(team.id) %>" class="btn btn-default"><%= team.team_name %></a></td>
                        <td>
                          <a href="<%= team_submission_path(team.id, team_submission.id) %>"
                             class="btn btn-success">
                            View
                          </a>
                        </td>
                        <td>
                          <% if (eval = locals[:own_evaluations][milestone.id][team.id]) %>
                              <a href="<%= edit_adviser_peer_evaluation_path(locals[:adviser].id, eval.id) %>"
                                 class="btn btn-default">
                                Edit Evaluation
                              </a>
                          <% else %>
                              <a href="<%= new_adviser_peer_evaluation_path(locals[:adviser].id, target: team_submission.id) %>"
                                 class="btn btn-default">
                                Start Evaluation
                              </a>
                          <% end %>
                        </td>
                      </tr>
                  <% else %>
                      <tr>
                        <td>
                          <span data-toggle="tooltip" data-placement="top"
                                title="The team has not submitted project log yet">
                            <a href="<%= team_path(team.id) %>" class="btn btn-default"><%= team.team_name %></a>
                          </span>
                        </td>
                        <td>
                          <a href="#" class="btn btn-default" disabled="disabled">
                            View
                          </a>
                        </td>
                        <td>
                          <a href="<%= new_adviser_peer_evaluation_path(locals[:adviser].id) %>"
                             class="btn btn-default" disabled="disabled">
                            Start Evaluation
                          </a>
                        </td>
                      </tr>
                  <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
          <hr>
      <% end %>
    </div>
  </div>
</div>
