<% content_for :main_content do %>
  <% javascript 'advisers.js' %>
  <div class="row">
    <h3 class="col text-right">All Advisers in cohort <%= cohort %></h3>
    <div class="col text-right">
      <%= link_to 'Download CSV', advisers_path(format: 'csv'), class: 'btn btn-primary' %>
      <%= link_to 'Create New Adviser', new_adviser_path(cohort: cohort), class: 'btn btn-success' %>
    </div>
  </div>
  <%= render 'advisers_table', locals: {advisers: @roles} %>
  <hr>
  <ul class="nav col-sm-12">
    <% all_cohorts.each do |cohort| %>
      <li class="nav-item col-sm-2">
        <%= link_to cohort, advisers_path(cohort: cohort), class: 'btn btn-info' %>
      </li>
    <% end %>
  </ul>
<% end %>
