<%= form_for locals[:milestone], url: {action: (locals[:is_new] ? 'create' : 'update')},
             html: {:class => 'form-horizontal'} do |f| %>
    <%= render 'shared/error_messages', locals: {target_model: locals[:milestone]} %>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="milestone-name">Milestone name:</label>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Input milestone name', id: 'milestone-name',
                         required: 'required' %>
        <div class="help-block with-errors">Input milestone name</div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="milestone-deadline">Milestone deadline:</label>
      <div class="col-sm-10">
        <%= f.date_select :deadline, id: 'milestone-deadline' %>
        <div class="help-block with-errors">Input milestone deadline</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Submit', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
