<table class="table table-hover">
  <thead>
  <tr><th>Milestone name</th><th>Deadline</th><th>Actions</th></tr>
  </thead>
  <tbody>
  <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.name %></td>
        <td><%= milestone.deadline %></td>
        <td>
          <a class="btn btn-default btn-xs" href="<%=  milestone_path(milestone.id) %>">View</a>
          <a class="btn btn-default btn-xs" href="<%= edit_milestone_path(milestone.id) %>">Edit</a>
          <%= link_to 'Delete', milestone_path(milestone.id),
                      :confirm => 'Are you sure to delete this milestone permanently?',
                      :method => :delete, :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
