<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="text-center"><%= locals[:selected_type] %></h3>
  </div>
  <div class="panel-body">
    <% if locals[:roles] && locals[:roles].length > 0 %>
      <% locals[:roles].each do |role| %>
        <div class="row">
          <div class="col-md-3">
            <%= image_tag role.user.gravatar_url(size: 150) %>
          </div>
          <div class="col-md-9">
            <div>Name: <strong><%= role.user.user_name %></strong></div>
            <div class="automail">Email: <%= role.user.email %></div>
            <div class="autolink">Slack: <%= role.user.slack_id %></div>
            <div class="autolink">GitHub: <%= role.user.github_link %></div>
            <div class="autolink">LinkedIn: <%= role.user.linkedin_link %></div>
            <div class="autolink">Personal website: <%= role.user.blog_link %></div>
            <div class="autolink">Self Introduction: <%= role.user.self_introduction %></div>
          </div>
        </div>
        <br><hr><br>
      <% end %>
    <% else %>
      No data to show
    <% end %>
  </div>
</div>
