<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="text-center">
      Staff in Cohort <%= cohort %>
    </h2>
  </div>
  <div class="panel-body">
    <% if staff %>
      <%= render 'user_roles', locals: {roles: staff[:facilitators], selected_type: 'Facilitators'} %>
      <%= render 'user_roles', locals: {roles: staff[:advisers], selected_type: 'Advisers'} %>
      <%= render 'user_roles', locals: {roles: staff[:mentors], selected_type: 'Mentors'} %>
      <%= render 'user_roles', locals: {roles: staff[:tutors], selected_type: 'Tutors'} %>
    <% else %>
      No Data Available
    <% end %>
  </div>
</div>
<div class="col-sm-12">
  <% all_cohorts.each do |cohort| %>
  <div class="col-sm-2">
    <%= link_to cohort, public_views_public_staff_index_path(cohort: cohort), class: 'btn btn-info' %>
  </div>
  <% end %>
</div>
