<% content_for :main_content do %>
  <% javascript 'public_views/public_staff.js' %>
  <script type="text/javascript">
    var el = document.querySelector('body');
    el.setAttribute('data-spy', 'scroll');
    el.setAttribute('data-target', '#nav-scroll');
  </script>
  <div class="row">
  <div class="col-sm-2" id="nav-scroll">
      <div class="side-nav-bar" data-spy="affix">
        <div class="select-cohort-panel">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%;">
              Select cohort
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="top: 16%;">
            <% all_cohorts.each do |cohort| %>
              <li>
                <%= link_to cohort, public_views_public_staff_index_path(cohort: cohort) %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="roles-menu" style="margin-top: 1rem;">
          <ul class="nav nav-pills nav-stacked" style="background: #eee;">
            <li>
              <a href="#facilitators"> 
                <i class="glyphicon glyphicon-chevron-right"></i>
                Facilitators 
              </a>
            </li>
            <li>
              <a href="#advisers"> 
                <i class="glyphicon glyphicon-chevron-right"></i>
                Advisers
              </a>
            </li>
            <li>
              <a href="#mentors"> 
                <i class="glyphicon glyphicon-chevron-right"></i>
                Mentors
              </a>
            </li>
            <li>
              <a href="#tutors"> 
                <i class="glyphicon glyphicon-chevron-right"></i>
                Tutors 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="text-center">
            Staff in Cohort <%= cohort %>
          </h2>
        </div>
        <div class="panel-body">
          <% if staff %>
            <div id="facilitators">
              <%= render 'user_roles', locals: {roles: staff[:facilitators].reorder(:display_order), selected_type: 'Facilitators'} %>
            </div>
            <div id="advisers">
              <%= render 'user_roles', locals: {roles: staff[:advisers], selected_type: 'Advisers'} %>
            </div>
            <div id="mentors">
              <%= render 'user_roles', locals: {roles: staff[:mentors], selected_type: 'Mentors'} %>
            </div>
            <div id="tutors">
              <%= render 'user_roles', locals: {roles: staff[:tutors], selected_type: 'Tutors'} %>
            </div>
          <% else %>
            No Data Available
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
