<ul class="nav navbar-nav">
  <li><a href="<%= get_home_link %>">Home</a></li>
  <li><a href="<%= users_path %>">Users</a></li>
  <li><a href="<%= students_path %>">Students</a></li>
  <li><a href="<%= advisers_path %>">Advisers</a></li>
  <li><a href="<%= mentors_path %>">Mentors</a></li>
  <li><a href="<%= admins_path %>">Admins</a></li>
  <li><a href="<%= milestones_path %>">Milestones</a></li>
  <li><a href="<%= teams_path %>">Teams</a></li>
  <li><a href="<%= evaluatings_path %>">Evaluatings</a></li>
</ul>
