<div class="row">
  <h2>
    Hi, <%= locals[:admin].user.user_name %>
  </h2>
</div>
<div class="row">
  <div class="tab-content col-12">
    <div role="tab-pane fade show active">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item active">
          <a href="#user-details" aria-controls="user-details"
              role="tab" data-toggle="tab" class="nav-link active">
            User details
          </a>
          </li>
          <li role="presentation" class="nav-item">
            <a href="#registration-management" aria-controls="registration-management"
              role="tab" data-toggle="tab" class="nav-link">
              Registration Management
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content col-12">
        <div role="tabpanel" class="tab-pane fade show py-2 active" id="user-details">
          <div class="col-sm-12">
            <div class="alert alert-secondary" role="alert">
              You can use navbar above to look around
            </div>
            <%= render 'users/user_details', locals: {user: locals[:admin].user} %>
            <br>
            <hr>
            <%= link_to 'General Mailing', general_mailing_admin_path(locals[:admin].id), class: 'btn btn-success' %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade py-2" id="registration-management">
          <div class="col-sm-12">
            <h5>Registration Status: <%= registration_status %></h5>
            <% if is_registration_open? %>
              <%= link_to 'Close', toggle_registration_admin_path(locals[:admin].id), class: 'btn btn-danger', data: {confirm: 'Are you sure you want to close registration?'} %>
            <% else %>
              <%= link_to 'Open', toggle_registration_admin_path(locals[:admin].id), class: 'btn btn-success', data: {confirm: 'Are you sure you want to open registration?'} %>
            <% end %>
            <br>
            <h5>Project Level Swap Status: <%= project_level_swap_status %></h5>
            <% if is_project_level_locked? %>
              <%= link_to 'Unlock', toggle_project_level_swap_admin_path(locals[:admin].id), class: 'btn btn-success', data: {confirm: 'Are you sure you want to unlock project level?'} %>
            <% else %>
              <%= link_to 'Lock', toggle_project_level_swap_admin_path(locals[:admin].id), class: 'btn btn-danger', data: {confirm: 'Are you sure you want to lock project level?'} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
