<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      <span>Hi, <%= locals[:admin].user.user_name %> </span>
    </h2>
  </div>
  <div class="panel-body">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#user-details" aria-controls="user-details"
              role="tab" data-toggle="tab">
              User details
          </a>
        </li>
        <li role="presentation">
          <a href="#registration-management" aria-controls="registration-management"
              role="tab" data-toggle="tab">
              Registration Management
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="user-details">
        <div class="col-sm-12">
          <div class="well">You can use navbar above to look around</div>
          <%= render 'users/user_details', locals: {user: locals[:admin].user} %>
          <br><hr>
          <%= link_to 'General Mailing', general_mailing_admin_path(locals[:admin].id), class: 'btn btn-success' %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="registration-management">
        <div class="col-sm-12">
          <!-- Add logic to automatically change registration_status: "Open", "Closed" and button_color: "danger", "success" -->
          <div class="well">
            <h5>Registration Status: <%= registration_status = "Open/Closed" %></h5>
            <span class="btn btn-<%= button_color = "warning" %>">
              <!-- Add logic to toggle registration status -->
              <%= link_to 'toggle', '#' , data: { confirm: 'Are you sure you want to open/close/toggle  registrations' } %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
