<%= simple_form_for locals[:peer_evaluation],
                    :url => {action: (locals[:is_new] ? 'create' : 'update')} do |f| %>
    <%= render 'shared/error_messages', locals: {target_model: locals[:peer_evaluation]} %>
    <div class="form-group">


      <label class="control-label">View submission in new tab: (For easier reference, you can drag the tab out into its separate window, and do the evaluation side-by-side)</label>

      <div class="form-control-static">
        <a href="<%= milestone_team_submission_path(locals[:submission].milestone_id, locals[:submission].team_id, locals[:submission].id) %>" class="btn btn-success" target="_blank" >
            <%= locals[:submission].team.team_name + ' @ ' + locals[:submission].milestone.name %> Submission
        </a>
        <input type="hidden" name="peer_evaluation[submission_id]" value="<%= locals[:submission].id %>">
      </div>
    </div>
    <div id="eval-template">
      <div class="form-group">
        <div class="text-muted"><%= locals[:survey_template].instruction.html_safe %></div>
      </div>
      <% locals[:survey_template].questions.order('questions.order ASC').each do |question| %>
        <%= render 'questions/question_template',
                   locals: {question: question,
                            question_response: locals[:peer_evaluation].get_response_for_question(question.id)} %>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Submit', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
