<div id="eval-display">
  <% if locals[:eval].submission.milestone.name =='Milestone 1' %>
      <%= render 'eval1_public_form_part' %>
      <% if (student? and student?.team and student?.team_id == locals[:eval].team_id) %>
          <%= render 'eval1_private_form_part' %>
      <% end %>
  <% else %>
      <%= render 'eval2_public_form_part' %>
      <% if (student? and student?.team and student?.team_id == locals[:eval].team_id) %>
          <%= render 'eval2_private_form_part' %>
      <% end %>
  <% end %>
</div>
<div class="form-group" style="display: none;">
  <label class="control-label" for="peer-evaluation-public-content">Public content:</label>
  <input type="text" readonly="readonly" id="peer-evaluation-public-content" value="<%= locals[:eval].public_content %>">
</div>
<% if (student? and student?.team and student?.team_id == locals[:eval].team_id) %>
    <div class="form-group" style="display: none;">
      <label class="control-label" for="peer-evaluation-private-content">Private content:</label>
      <input type="text" readonly="readonly" id="peer-evaluation-private-content" value="<%= locals[:eval].private_content %>">
    </div>
    <div class="form-group">
      <label class="control-label" for="target-submission-id">Submission:</label>
      <input type="text" readonly="readonly" class="form-control" value="<%= (locals[:eval].submission.milestone.name + ' @ ' +
              locals[:eval].submission.team.team_name) %>">
    </div>
<% end %>
