<% locals[:milestones].each do |milestone| %>
    <h3 class="text-center"><%= milestone.name %></h3>
    <div class="table-responsive">
      <table class="table">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <thead>
        <tr><th>Team Name</th><th>Status</th><th>Last updated at</th><th>Action</th></tr>
        </thead>
        <tbody>
        <% locals[:evaluateds].each do |evaluated| %>
            <% if (temp_evaluated_submission = locals[:team_evaluateds_submissions][milestone.id][evaluated.evaluated_id]) %>
                <tr>
                  <td><%= evaluated.evaluated.team_name %></td>
                  <td>
                    <a href="<%= team_submission_path(evaluated.evaluated_id, temp_evaluated_submission.id) %>"
                       class="btn btn-success">
                      View
                    </a>
                  </td>
                  <td>
                    <%= temp_evaluated_submission.updated_at %>
                  </td>
                  <td>
                    <% if (temp_evaluation = locals[:team_evaluations][milestone.id][evaluated.evaluated_id]) %>
                        <a href="<%= edit_team_peer_evaluation_path(evaluated.evaluator_id, temp_evaluation.id) %>"
                           class="btn btn-success">
                          Edit Evaluation
                        </a>
                    <% else %>
                        <a href="<%= new_team_peer_evaluation_path(evaluated.evaluator_id, target: temp_evaluated_submission.id) %>"
                           class="btn btn-primary">
                          Start Evaluation
                        </a>
                    <% end %>
                  </td>
                </tr>
            <% else %>
                <tr>
                  <td>
                    <span data-toggle="tooltip" data-placement="top"
                          title="<%= t 'students.show.evaluation_team_no_submission_tooltip' %>">
                      <%= evaluated.evaluated.team_name %>
                    </span>
                  </td>
                  <td>
                    <a href="#" class="btn btn-default" disabled="disabled">
                      View
                    </a>
                  </td>
                  <td>
                    Not submitted yet
                  </td>
                  <td>
                    <a href="#" class="btn btn-default" disabled="disabled">
                      Start Evaluation
                    </a>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
    <hr>
<% end %>
