<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      <% if (not locals[:student]) %>
          <span class="text-danger">Not a student </span>
      <% else %>
          <span><%= locals[:student].user.user_name %> </span>
      <% end %>
      <% if (not locals[:student]) %>
          <span class="text-danger"> (Not a student)</span>
      <% elsif locals[:student] and (not locals[:student].team_id) %>
          <span class="text-muted"> (Currently no team)</span>
      <% elsif locals[:student] and locals[:student].team_id %>
          <span> (<%= locals[:student].team.team_name %>)</span>
      <% end %>
    </h2>
  </div>
  <div class="panel-body">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#project-panel" aria-controls="project-panel"
             role="tab" data-toggle="tab">
            Submit projectlog
          </a>
        </li>
        <li role="presentation">
          <a href="#evaluation-panel" aria-controls="evaluation-panel"
             role="tab" data-toggle="tab">
            Evaluate other teams
          </a>
        </li>
        <li role="presentation">
          <a href="#feedback-panel" aria-controls="feedback-panel"
             role="tab" data-toggle="tab">
            Submit feedback
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="project-panel">
          <div class="container">
            <h3 class="text-center">Submissions</h3>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr><th>Milestone Name</th><th>Actions</th></tr>
                </thead>
                <tbody>
                <% locals[:milestones].each do |milestone| %>
                    <tr>
                      <td><%= milestone.name %></td>
                      <td>
                        <% if not locals[:student].team_id %>
                            No Actions
                        <% elsif (submission = locals[:team_submissions][milestone.id]) %>
                            <a href="<%= edit_team_submission_path(locals[:student].team_id,
                                                              submission.id) %>"
                               class="btn btn-success">
                              Edit
                            </a>
                        <% else %>
                            <a href="<%= new_team_submission_path(locals[:student].team_id, target: milestone.name) %>"
                               class="btn btn-primary">
                              Submit
                            </a>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="evaluation-panel">
          <div class="container">
            <% locals[:milestones].each do |milestone| %>
                <h3 class="text-center"><%= milestone.name %></h3>
                <div class="table-responsive">
                  <table class="table">
                    <col width="33%">
                    <col width="33%">
                    <col width="33%">
                    <thead>
                      <tr><th>Team Name</th><th>Status</th><th>Action</th></tr>
                    </thead>
                    <tbody>
                      <% locals[:evaluateds].each do |evaluated| %>
                        <% if (temp_evaluated_submission = locals[:team_evaluateds_submissions][milestone.id][evaluated.evaluated_id]) %>
                            <tr>
                              <td><%= evaluated.evaluated.team_name %></td>
                              <td>
                                <a href="<%= team_submission_path(evaluated.evaluated_id, temp_evaluated_submission.id) %>"
                                   class="btn btn-success">
                                  View
                                </a>
                              </td>
                              <td>
                                <% if (temp_evaluation = locals[:team_evaluations][milestone.id][evaluated.evaluated_id]) %>
                                    <a href="<%= edit_team_peer_evaluation_path(evaluated.evaluator_id, temp_evaluation.id) %>"
                                       class="btn btn-success">
                                      Edit Evaluation
                                    </a>
                                <% else %>
                                    <a href="<%= new_team_peer_evaluation_path(evaluated.evaluator_id, target: milestone.name) %>"
                                       class="btn btn-primary">
                                      Start Evaluation
                                    </a>
                                <% end %>
                              </td>
                            </tr>
                        <% else %>
                            <tr>
                              <td>
                                <span data-toggle="tooltip" data-placement="top"
                                      title="The team has not submitted project log yet">
                                  <%= evaluated.evaluated.team_name %>
                                </span>
                              </td>
                              <td>
                                <a href="#" class="btn btn-default" disabled="disabled">
                                  View
                                </a>
                              </td>
                              <td>
                                <a href="#" class="btn btn-default" disabled="disabled">
                                  Start Evaluation
                                </a>
                              </td>
                            </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <hr>
            <% end %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="feedback-panel">
          <div class="container">
            <% locals[:milestones].each do |milestone| %>
                <h3 class="text-center"><%= milestone.name %></h3>
                <div class="table-responsive">
                  <table class="table">
                    <col width="50%">
                    <col width="50%">
                    <thead>
                      <tr><th>Team Name</th><th>Status</th></tr>
                    </thead>
                    <tbody>
                    <% locals[:evaluators].each do |evaluator| %>
                        <% if (temp_evaluator_submission = locals[:team_evaluateds_submissions][milestone.id][evaluator.evaluator_id]) %>
                            <tr>
                              <td><%= evaluator.evaluator.team_name %></td>
                              <td>Edit</td>
                            </tr>
                        <% else %>
                            <tr>
                              <td><%= evaluator.evaluator.team_name %></td>
                              <td>Not submitted yet</td>
                            </tr>
                        <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
