<table class="table-sortable table table-hover" id="students-table">
  <thead>
  <tr><th class="unsortable sort-index">Index</th><th>User Name</th><th>User Email</th><th>Team Name</th><th>Project Level</th><th>Adviser</th><th class="unsortable">Actions</th></tr>
  </thead>
  <tbody>
  <% locals[:students].each_with_index do |student, idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= student.user.user_name %></td>
        <td><%= student.user.email %></td>
        <td><%= get_student_team_name(student) %></td>
        <td><%= get_student_team_project_level(student) %></td>
        <td><%= get_student_team_adviser_name(student) %></td>
        <td>
          <a class="btn btn-default btn-xs" href="<%=  student_path(student.id) %>">View</a>
          <a class="btn btn-default btn-xs" href="<%= edit_student_path(student.id) %>">Edit</a>
          <%= link_to 'Delete', student_path(student.id),
                      :confirm => 'Are you sure to delete this student permanently?',
                      :method => :delete, :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
