<% content_for :main_content do %>
  <% javascript 'users.js' %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>
        <span>Hi, <%= User.find_by(id: locals[:student].user_id).user_name %> </span>
      </h2>
    </div>
    <div class="panel-body">
      <div role="tabpanel">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="user-roles">
            <div class="col-sm-12">	
            <br>		
              <div class="jumbotron">
                <div style="margin: 0 auto; font-size: 20px; text-align: center;">Application Procedure</div>
                <br>
                <div style="overflow: hidden; width: 1000px; margin: auto; padding-left: 42px; text-align: center;">
                  <div style="background: #0066cc; width: 210px; height: 40px; float: left; color: white; padding-top: 10px;">Form Team</div>
                  <div style="float: left; width: 0; height: 0; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #0066cc;"></div>
                  <div style="background: #0066cc; width: 210px; height: 40px; float: left; color: white; padding-top: 10px;">Submit Proposal</div>
                  <div style="float: left; width: 0; height: 0; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #0066cc;"></div>
                  <div style="background: #0066cc; width: 210px; height: 40px; float: left; color: white; padding-top: 10px;">Peer Evaluation</div>
                  <div style="float: left; width: 0; height: 0; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #0066cc;"></div>
                  <div style="background: #0066cc; width: 210px; height: 40px; float: left; color: white; padding-top: 10px;">Release of application result</div>
                </div>
                <br>
                <% form_team_ddl = ApplicationDeadlines.find_by(name: 'form team deadline').submission_deadline
                    submit_proposal_ddl = ApplicationDeadlines.find_by(name: 'submit proposal deadline').submission_deadline
                    peer_evaluation_open_date = ApplicationDeadlines.find_by(name: 'peer evaluation open date').submission_deadline
                    peer_evaluation_ddl = ApplicationDeadlines.find_by(name: 'peer evaluation deadline').submission_deadline
                    result_release_date = ApplicationDeadlines.find_by(name: 'result release date').submission_deadline
                    portal_open_date = ApplicationDeadlines.find_by(name: 'portal open date').submission_deadline %>
                <!-- to-do: should maintain only 1 application status for either student or team -> team -->
                <% status = (locals[:student].team == nil ? locals[:student].application_status : locals[:student].team.application_status)%>
                <!-- stage a, form teams -->
                <% if status == 'a' %>
                  <% if Time.now > form_team_ddl %>
                    <p> You did not form a team on time, and therefore we cannot proceed with your application. Thanks for your participation! </p>
                  <% else %>
                    <% if !locals[:student].team %>
                      <p>	
                        You have not formed a team. You may <a href="<%= register_as_team_user_path(locals[:student].user_id) %>" class="btn btn-primary">invite</a> a teammate now.
                      </p>
                      <p>
                        Please ensure that you are in a team by <%= form_team_ddl %>.
                      </p>
                    <% elsif locals[:student].team.invitor_student_id != locals[:student].id %>	
                      <p>	
                        You have been invited to participate in Orbital as a team with <strong><%= locals[:student].team.invitor_student.user.user_name %></strong>. Respond to <a href="<%= register_as_team_user_path(locals[:student].user_id) %>" class="btn btn-primary"> the invitation </a> now?	
                      </p>
                      <p>
                        Please ensure that you are in a team by <%= form_team_ddl %>.
                      </p>	
                    <% elsif locals[:student].team.invitor_student_id == locals[:student].id %>	
                      <p>	
                        You have invited <strong><%= locals[:student].team.invitee_student.user.user_name %></strong> to your team and we are waiting for his/her confirmation.
                      </p>	
                      <p>
                        You may withdraw your invitation at <a href="<%= withdraw_invitation_student_path(locals[:student].user_id) %>" class="btn btn-warning">Withdraw</a>.
                      </p>
                      <p>
                        Please ensure that you are in a team by <%= form_team_ddl %>.
                      </p>
                    <% end %>
                  <% end %>
                <!-- stage b, submit proposal -->
                <% elsif status == 'b' or Time.now < peer_evaluation_open_date %>
                  <% if Time.now > submit_proposal_ddl and status == 'b'%>
                    <p> Your team did not submit the project proposal on time, and therefore we cannot proceed with your application. Thanks for your participation! </p>
                  <% else %>
                    <% if status == 'b'%>
                      <p>	
                      You have successfully teamed up. Please use the section below to <a href="<%= submit_proposal_student_path(locals[:student].user_id) %>" class="btn btn-warning"> submit </a> a project proposal for your team by <%= submit_proposal_ddl %>. Only one member of the team needs to do the submission. 
                      </p>
                    <% elsif status == 'c'%>
                      <p>
                      Your team has submitted the project proposal on time. Please come back to the Skylab for peer evaluation on <%= peer_evaluation_open_date %>. There is no action required from you for now.
                      </p>
                      <% if Time.now < submit_proposal_ddl %>
                        <p>
                        You may <a href="<%= remove_proposal_student_path(locals[:student].user_id) %>" class="btn btn-warning">delete</a> your old submission and resubmit by the deadline.
                        </p>
                      <% end %>
                    <% end %>
                  <% end %>
                <!-- stage c, peer evaluation -->
                <% elsif status[0] == 'c' or Time.now < result_release_date%>
                  <% if status == 'cf-never submit peer evaluation' %>
                    <p>Your team did not submit the peer evaluation on time, and therefore we cannot proceed with your application. Thanks for your participation!</p>
                  <% elsif Time.now < peer_evaluation_ddl %>
                    <p>Please <a href="<%= do_evaluation_student_path(locals[:student].user_id) %>" class="btn btn-primary">evaluate</a> other teams’ submissions by <%= peer_evaluation_ddl%>. Both members of your team have to finish the evaluation.</p>
                    <p>Note: After the submission, you will receive an email confirmation. Please retain the email as evidence of your submission and wait for the application result on <%= result_release_date%>.</p>
                  <% else %>
                    <p>Please wait for the release of application result taking place on <%= result_release_date %>. There is no more action required for the application.</p>
                  <% end%>
                <!-- stage d, release result -->
                <% else %>
                  <% if status == 'success' %>
                    <p>Application status: Successful.</p>
                    <p>You will be able to access the Skylab as an official student from <%= portal_open_date %>.</p>
                  <% else %>
                    <p> Application status: Unsuccessful. </p>
                    <p> Thank you for your participation!</p> 
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>