<% locals[:milestones].each do |milestone| %>
    <h3 class="text-center"><%= milestone.name %></h3>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr><th>Evaluator Name</th><th>Status</th><th>Last updated</th></tr>
        </thead>
        <tbody>
        <% locals[:evaluators].each do |evaluator| %>
            <% if (temp_evaluator_evaluation = locals[:team_evaluators_evaluations][milestone.id][evaluator.id]) %>
                <tr>
                  <td>
                    <%= render 'teams/team_name_representation', locals: {team: evaluator.evaluator} %>
                  </td>
                  <td>
                    <a href="<%= milestone_team_peer_evaluation_path(milestone.id, evaluator.evaluator_id, temp_evaluator_evaluation.id) %>"
                       class="btn btn-success">
                      View
                    </a>
                  </td>
                  <td>
                    <%= l temp_evaluator_evaluation.updated_at %>
                  </td>
                </tr>
            <% else %>
                <tr>
                  <td>
                    <%= render 'teams/team_name_representation', locals: {team: evaluator.evaluator} %>
                  </td>
                  <td>
                    <a href="#" disabled="disabled"
                       class="btn btn-default">
                      View
                    </a>
                  </td>
                  <td>
                    Not submitted yet
                  </td>
                </tr>
            <% end %>
        <% end %>
        <% if (adviser_evaluation = locals[:team_evaluators_evaluations][milestone.id][:adviser]) %>
            <tr>
            <tr>
              <td><%= locals[:student].team.adviser.user.user_name %></td>
              <td>
                <a href="<%= milestone_adviser_peer_evaluation_path(milestone.id, locals[:student].team.adviser_id, adviser_evaluation.id) %>"
                   class="btn btn-success">
                  View
                </a>
              </td>
              <td>
                <%= l adviser_evaluation.updated_at %>
              </td>
            </tr>
            </tr>
        <% else %>
            <tr>
              <td>
                <span data-toggle="tooltip" data-placement="top"
                      title="The team has not submitted peer evaluation yet">
                  <%= (not locals[:student].team.nil? and not locals[:student].team.adviser_id.nil?) ?
                              locals[:student].team.adviser.user.user_name : 'No adviser' %>
                </span>
              </td>
              <td>
                <a href="#" disabled="disabled"
                   class="btn btn-default">
                  View
                </a>
              </td>
              <td>
                Not submitted yet
              </td>
            </tr>
        <% end %>
        <tr>
          <td colspan="3" class="text-center">
            <% if locals[:student].team %>
                <a href="<%= milestone_team_received_evals_path(milestone.id, locals[:student].team.id) %>"
                   class="btn btn-success">
                  View all submitted evaluations
                </a>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>
