<% content_for :main_content do %>
  <% javascript 'students.js' %>
  <div class="row">
    <h3 class="col text-right">All Students in cohort <%= cohort %></h3>
    <div class="col text-right">
      <%= link_to 'Download CSV', students_path(format: 'csv', cohort: cohort), class: 'btn btn-primary' %>
      <%= link_to 'Create New Student', new_student_path, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="row">
    <%= render 'students_table', locals: {students: @roles} %>
  </div>
  <div class="row col-sm-12">
    <% all_cohorts.each do |cohort| %>
      <div class="col-sm-2">
        <%= link_to cohort, students_path(cohort: cohort), class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
<% end %>
