<% content_for :main_content do %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="text-center"> Applicants Selection <%= cohort %></h3>
    </div>
    <div class="panel-body">
        <p>
        <a href="<%= application_deadlines_path() %>" class="btn btn-primary">Manage Deadlines</a>
        </p>
        <hr/>
        <%# <% if Time.now > peer_eval_open and team.application_status != 'c' %>
          <!-- start peer evaluation -->
        <p>
        <a href="<%= teams_path(format: 'csv', cohort: cohort) %>" class="btn btn-primary">Download applicants rank</a>
        </p>
        <p>
        <a href="<%= applicant_admin_manage_peer_eval_path() %>" class="btn btn-warning">Manage Peer Evaluation</a>
        </p>
        <p>
        <%= render 'applicant_table', locals: { teams: Team.where("application_status >= 'c'").order(:avg_rank)} %>
        </p>
    </div>
  </div>
<% end %>
