<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="text-center">All users</h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
      <tr><th>User Name</th><th>User Email</th><th>Actions</th></tr>
      </thead>
      <tbody>
      <% locals[:users].each do |user| %>
          <tr>
            <td><%= user.user_name %></td>
            <td><%= user.email %></td>
            <td>
              <a class="btn btn-default btn-xs" href="<%=  user_path(user.id) %>">View</a>
              <a class="btn btn-default btn-xs" href="<%= edit_user_path(user.id) %>">Edit</a>
              <%= link_to 'Preview as', preview_as_user_path(user.id),
                          :confirm => 'Are you sure to preview as this user?', :method => :post, :class => 'btn btn-warning btn-xs' %>
              <%= link_to 'Delete', user_path(user.id),
                          :confirm => 'Are you sure to delete this user permanently?', :method => :delete, :class => 'btn btn-danger btn-xs' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr>
    <div class="col-sm-7 col-sm-offset-5">
      <a href="<%= new_user_path %>" class="btn btn-success">Create New User</a>
    </div>
  </div>
</div>
