<%= simple_form_for locals[:registration], url: register_user_path(locals[:user]) do |f| %>
    <%= render 'shared/error_messages', locals: {target_model: locals[:registration]} %>
    <div class="form-group">
      <div class="text-muted"><%= locals[:survey_template].instruction.html_safe %></div>
    </div>
    <% locals[:questions].each do |question| %>
      <%= render 'questions/question_template',
                 locals: {question: question,
                          question_response: locals[:registration].get_response_for_question(question.id)} %>
    <% end %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Submit', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
