<%= simple_form_for(locals[:user], wrapper: :horizontal_form, html: {class: 'form-horizontal'},
                    url: {action: (locals[:is_new] ? 'create' : 'update')}) do |f| %>
    <%= f.error_notification %>
    <%= f.input :user_name %>
    <%= f.input :email %>
    <% if locals[:is_new] %>
        <%= f.input :provider, collection: User.providers, include_blank: false%>
    <% else %>
        <%= f.input :provider, collection: User.providers, include_blank: false, disabled: true %>
    <% end %>
    <%= f.input :uid %>
    <%= f.input :slack_id %>
    <%= f.input :github_link %>
    <%= f.input :linkedin_link %>
    <%= f.input :blog_link, label: 'Website Link' %>
    <% if locals[:is_new] %>
        <%= f.input :program_of_study, collection: User.program_of_studies, include_blank: false %>
    <% else %>
        <%= f.input :program_of_study, collection: User.program_of_studies, include_blank: false, selected: User.program_of_studies[locals[:user].program_of_study] %>
    <% end %>
    <%= f.input :matric_number %>
    <%= f.input :self_introduction %>
    <div class="text-right">
        <a href="https://en.gravatar.com/gravatars/new" target="_blank">Change your Gravatar image</a>
        <%= image_tag @user.gravatar_url(size: 150) %>
    </div>
    <%= f.button :submit_centred, class: 'btn-success' %>
<% end %>
