<% content_for :main_content do %>
  <% javascript 'users.js' %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>
        <span>Hi, <%= @user.user_name %> </span>
      </h2>
    </div>
    <div class="panel-body">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#user-details" aria-controls="user-details"
               role="tab" data-toggle="tab">
              User details
            </a>
          </li>
          <li role="presentation">
            <a href="#user-roles" aria-controls="user-roles"
               role="tab" data-toggle="tab">
              User access
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="user-details">
            <div class="col-sm-12">
              <%= render 'user_details', locals: {user: @user} %>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="text-center">Forum Contributions [<%= @user.thredded_user_detail.posts_count %>]</h3>
                </div>
                <div class="panel-body">
                  <%= Thredded::ApplicationController.render partial: 'thredded/users/posts', locals: {posts: Thredded.posts_page_view(scope: @user.thredded_posts.order_newest_first.limit(5), current_user: @user)} %>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="user-roles">
            <div class="col-sm-12">	
            <br>	
              <div class="jumbotron">	
                <% adm, adv, men, stu = user_admin?, user_adviser?, user_mentor?, user_student?%>	
                <% if adm or adv or men or stu %>
                  <% if !stu %>
                    <p>Use Skylab as:</p>	
                    <p>	
                      <% if adm and adv %>	
                        <a href="<%= admin_path(adm.id) %>" class="btn btn-primary btn-lg">An Admin</a>	
                        <a href="<%= adviser_path(adv.id) %>" class="btn btn-primary btn-lg">An Adviser</a>	
                      <% elsif adm %>	
                        <a href="<%= admin_path(adm.id) %>" class="btn btn-primary btn-lg">An Admin</a>	
                      <% elsif adv %>	
                        <a href="<%= adviser_path(adv.id) %>" class="btn btn-primary btn-lg">An Adviser</a>	
                      <% else %>	
                        <a href="<%= mentor_path(men.id) %>" class="btn btn-primary btn-lg">A Mentor</a>			
                      <% end %>	
                    </p>		
                  <% else %>
                      <p>Use Skylab as a:</p>
                      <a href="<%= student_path(stu.id) %>" class="btn btn-primary btn-lg">A Student<a>
                  <% end %>
                  <br>	
                <% else%>	
                  <% if is_registration_open? %>	
                    <!-- Registration opened -->	
                    <p>	
                      Please fill in the <a href="<%= register_as_student_user_path(@user.id) %>" class="btn btn-primary"> registration form </a>. After you fill out the registration, you will be able to form a team and participate in Orbital application.	
                    </p>	
                  <% else %>	
                    <!-- Registration closed -->	
                    <p>	
                      Registration for Orbital <%=current_cohort%> has closed. Thank you for your interest.	
                    </p>	
                  <% end %>	
                <% end %>	
              </div>	
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>