<% content_for :main_content do %>
    <% javascript 'users.js' %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          <span>Hi, <%= @user.user_name %> </span>
        </h2>
      </div>
      <div class="panel-body">

      <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#user-details" aria-controls="user-details"
                 role="tab" data-toggle="tab">
                User details
              </a>
            </li>
            <li role="presentation">
              <a href="#user-roles" aria-controls="user-roles"
                 role="tab" data-toggle="tab">
                User roles
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="user-details">
              <div class="col-sm-12">
                <br>
                <%= render 'user_details', locals: {user: @user} %>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="user-roles">
              <div class="col-sm-12">
                <br>
                <div class="jumbotron">
                  <% if (adm = user_admin?) or (adv = user_adviser?) or  (men = user_mentor?) or (stu = user_student?) %>
                    <p>You can choose to view as one of the following roles:</p>
                    <p>
                    <% if adm %>
                          <a href="<%= admin_path(adm.id) %>" class="btn btn-primary btn-lg">View as an admin</a>
                      <% end %>
                      <% if adv %>
                          <a href="<%= adviser_path(adv.id) %>" class="btn btn-primary btn-lg">View as an adviser</a>
                      <% end %>
                      <% if men %>
                          <a href="<%= mentor_path(men.id) %>" class="btn btn-primary btn-lg">View as a mentor</a>
                      <% end %>
                      <% if stu %>
                          <a href="<%= student_path(stu.id) %>" class="btn btn-primary btn-lg">View as a student</a>
                      <% end %>
                    </p>
                  <% else %>
                    <p>You can register as a student via <a href="<%= register_as_student_user_path(@user.id) %>" class="btn btn-primary"> Link </a></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
