<ul class="navbar-nav justify-content-end">
  <% if current_user %>
      <li class="nav-item">
        <p class="navbar-text user-name-text">
          Welcome, <%= current_user.user_name %>
        </p>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button"
            id="settings-dropdown" aria-expanded="true">
          <%= octicon "settings", :height => 32,  :class => "", :"aria-label" => "settings" %><span class="caret"></span>
        </a>
        <div class="dropdown-menu" role="menu" aria-labelledby="settings-dropdown">
          <a class="dropdown-item" href="<%= edit_user_path(current_user.id) %>">Edit User Settings</a>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_path,
                    method: :delete, class: 'nav-link' %>
      </li>
  <% else %>
      <li class="nav-item">
        <%= link_to 'Login', new_user_session_path,
                    method: :get, class: 'nav-link' %>
      </li>
  <% end %>
</ul>
