<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3 Col Portfolio - Start Bootstrap Template</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <!-- Page Content -->
  <div class="row">
    <div class="center"><h2><%= number_to_percentage(100.0 * locals[:selected_teams].length.to_f / locals[:teams].length.to_f, precision: 0) %> of the cohort</h2></div>
  </div>
  <!-- Page Header -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Project List
              <small><%= locals[:selected_teams].length %> teams</small>
          </h1>
      </div>
  </div>
  <% locals[:selected_teams].each_with_index do |team, idx| %>
  <!-- The Project Profile -->
  <div class="col-md-4 portfolio-item">
    <a role="button" onclick="createModalBox(<%= team.team_name %>)" id="button_<%= team.team_name %>">
      <% if !team.poster_link.blank? %>
        <%= link_to image_tag(team.poster_link, size: "200", alt: "Team's Poster Link is not in image form",
          title: "Click to view an enlarged version of this image."), team.poster_link %>
      <% elsif locals[:selected_type] == 'Vostok' %>
        <%= image_tag("Vostok_Icon.jpg", size: "200", class: 'img-rounded inactive_link') %>
      <% elsif locals[:selected_type] == 'Project Gemini' %>
        <%= image_tag("Project_Gemini_Icon.png", size: "200", class: 'img-rounded inactive_link') %>
      <% elsif locals[:selected_type] == 'Apollo 11' %>
        <%= image_tag("Apollo_11_Icon.png", size: "200", class: 'img-rounded inactive_link') %>
      <% end %>
    </a>
    <!-- createModalBox(<%= team.team_name %>) -->
    <h3>
      <button class="button button_team" onclick="createModalBox(<%= team.id %>)" id="button_<%= team.id %>"><%= idx + 1 %>. <strong><%= team.team_name %></strong></button> <!-- Clicking the link creates another layer of window that shows the team's project -->
    </h3>
    <p class="text-muted">Students: <%= team.students.map{|student| student.user.user_name}.join(' & ') %></p>
    <p class="text-muted">Advised by: <%= team.adviser ? team.adviser.user.user_name : 'Not assigned' %></p>
  </div>
  <!-- The Modal Box -->
  <div id="modal_<%= team.id %>" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h4 class="text-muted"><%= team.team_name %></h4>
      <br><hr>
      <h4 class="text-muted">Links</h4>
      <br>
      <% if (Submission.where(team_id: team.id)[-1]) %>
      <div class="col-md-6">
	      <a role="button" class="button button_video" href="<%= Submission.where(team_id: team.id)[-1].video_link %>">Watch Project Video</a>
      </div>
      <div class="col-md-6">
        <a role="button" class="button button_video" href="<%= Submission.where(team_id: team.id)[-1].poster_link %>">View Project Poster</a>
      </div>
  	  <% else %>
  	  	  <span>Video is not shown/not available</span>
  	  <% end %>
    </div>
  </div>
  <% end %>
  <!-- Projects Row -->
  <script>
    function createModalBox(team_id) {
      var modal = document.getElementById("modal_".concat(team_id));
      var button = document.getElementById("button_".concat(team_id));
      var span = document.getElementsByClassName("close")[0];
      console.log("Success!");
      modal.style.display = "block";
      span.onclick = function() {
        modal.style.display = "none";
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    }
  </script>
</body>
