<% first_loop = true; %>
<ul class="nav nav-pills nav-stacked col-md-2" id="accordion">
	<% @teams_table.each do | cohort, teams | %>
	<li>
		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=cohort%>" aria-expanded="true" aria-controls="collapse<%=cohort%>" id="<%=cohort%>">
			Cohort <%= cohort %>
		</a>
	</li>
	<% end %>
</ul>

<ul id="collapse<%=cohort%>" class="nav nav-pills col-md-10 collapse <% if first_loop %>in<% first_loop = false; end %>">
	<% @teams_table.each do | cohort, teams | %>
	<li class="active">
		<% if teams.select{|team| team.vostok?}.length > 0 %>
		<%= render 'public_teams_table', locals: {teams: teams,
			selected_teams: teams.select{|team| team.vostok?},
			selected_type: 'Vostok'} %>
			<% else %>
			No Data Available
			<% end %>
		</li>
		<li>
			<% if teams.select{|team| team.project_gemini?}.length > 0 %>
			<%= render 'public_teams_table', locals: {teams: teams,
				selected_teams: teams.select{|team| team.project_gemini?},
				selected_type: 'Project Gemini'} %>
				<% else %>
				No Data Available
				<% end %>
			</li>
			<li>
				<% if teams.select{|team| team.apollo_11?}.length > 0 %>
				<%= render 'public_teams_table', locals: {teams: teams,
					selected_teams: teams.select{|team| team.apollo_11?},
					selected_type: 'Apollo 11'} %>
					<% else %>
					No Data Available
					<% end %>
				</li>
			</ul>

