<% javascript 'public_projects.js' %>
<% first_loop = true; %>
<ul class="nav nav-pills nav-stacked col-md-2" id="all_cohorts">
	<% @cohorts.each do | cohort | %>
  <% if first_loop %> <% active="active"; first_loop = false; end %>
	<li class='tab-button <%=active%>'>
    <%= link_to "Cohort #{cohort}", public_views_public_project_path(cohort),
      id: "toggle-#{cohort}", remote: true, role: 'button'%>
		<a id="rendered-toggle-<%=cohort%>", role="button" data-toggle="pill"
      href="#<%=cohort%>" class="hidden">
			Cohort <%= cohort %>
		</a>
	</li>
	<% end %>
</ul>
<% first_loop = true; %>
<div class="tab-content col-md-10" id="project-display">
	<% @teams_table.each do | cohort, teams | %>
	<div class="tab-pane fade <% if first_loop %>in active<% first_loop = false; end %>" id="<%=cohort%>">
    <%= render 'public_cohort_projects', locals: {teams: teams, cohort: cohort} %>
	</div>
<% end %>
</div>
