<% first_loop = true; %>
<ul class="nav nav-pills nav-stacked col-md-2" id="all_cohorts">
	<% @teams_table.each do | cohort, teams | %>
	<li>
		<a role="button" data-toggle="pill" href="#<%=cohort%>" class="<% if first_loop %>active<% first_loop = false; end %>">
			Cohort <%= cohort %>
		</a>
	</li>
	<% end %>
</ul>
<% first_loop = true; %>
<div class="tab-content col-md-10">
<% @teams_table.each do | cohort, teams | %>
<div class="tab-pane fade <% if first_loop %>in active<% first_loop = false; end %>" id="<%=cohort%>">
<ul class="nav nav-pills">
	<li class="active"><a data-toggle="pill" href="#vostok<%=cohort%>">Vostok</a></li>
	<li><a data-toggle="pill" href="#project_gemini<%=cohort%>">Project Gemini</a></li>
	<li><a data-toggle="pill" href="#apollo_11<%=cohort%>">Apollo 11</a></li>
</ul>
<div class="tab-content">
	<div id="vostok<%=cohort%>" class="tab-pane fade in active">
		<% if teams.select{|team| team.vostok?}.length > 0 %>
		<%= render 'public_teams_table', locals: {teams: teams,
			selected_teams: teams.select{|team| team.vostok?},
			selected_type: 'Vostok'} %>
			<% else %>
			No Data Available
			<% end %>
	</div>
	<div id="project_gemini<%=cohort%>" class="tab-pane fade">
		<% if teams.select{|team| team.project_gemini?}.length > 0 %>
			<%= render 'public_teams_table', locals: {teams: teams,
				selected_teams: teams.select{|team| team.project_gemini?},
				selected_type: 'Project Gemini'} %>
				<% else %>
				No Data Available
				<% end %>
	</div>
	<div id="apollo_11<%=cohort%>" class="tab-pane fade">
		<% if teams.select{|team| team.apollo_11?}.length > 0 %>
				<%= render 'public_teams_table', locals: {teams: teams,
					selected_teams: teams.select{|team| team.apollo_11?},
					selected_type: 'Apollo 11'} %>
					<% else %>
					No Data Available
					<% end %>
	</div>
</div>
</div>
<% end %>
</div>