<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= project_level_header(project_level_text(locals[:selected_type]), locals[:teams].length) %></h1>
    </div>
    <% locals[:teams].each_with_index do |team, idx| %>
      <!-- Thumbnail display for each team -->
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <%= link_to image_tag(image_tag_string(locals[:selected_type]), class: 'img-rounded') %>
        <h3>
          <button class="button button_team" onclick="createModalBox(<%= team.id %>)" id="button_<%= team.id %>">
            <%= get_team_button_text(team) %>
          </button>
        </h3>
      </div>
      <!-- End of thumbnail display -->
      <!-- Modal box: Display all the team's submissions -->
      <div id="modal_<%= team.id %>" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h4 class="text-muted"><%= team.team_name %></h4>
          <br>
          <hr>
          <% team_submission = Submission.where(team_id: team.id); %>
          <% if (team_submission.length > 0) %>
            <% team_submission.each_with_index do |submission, idx| %>
              <div class="col-md-6 center-block">
                <a role="button" class="button button_video" href="<%= submissions_show_path %>">Milestone <%= idx + 1 %></a>
              </div>
            <% end %>
          <% else %>
            <span>No submission for milestone 1</span>
          <% end %>
        </div>
      </div>
      <!-- End of modal box -->
    <% end %>
  </div>
</div>

