<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= project_level_header(project_level_text(locals[:selected_type]), locals[:teams].length) %></h1>
    </div>
    <% locals[:teams].each_with_index do |team, idx| %>
      <!-- Thumbnail display for each team -->
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <%= link_to image_tag(image_tag_string(locals[:selected_type]), class: 'img-rounded') %>
        <h3>
          <button type="button" class="btn button_team btn-lg" id="button_<%= idx %>" data-toggle="modal" data-target="#modal_<%= team.id %>">
            <%= idx + 1 %>. <%= team.team_name %>
          </button>
        </h3>
      </div>
      <!-- End of thumbnail display -->

      <!-- Modal box: Display all the team's submissions -->
      <div id="modal_<%= team.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><%= team.team_name %>'s submissions</h4>
            </div>
            <div class="modal-body">

              <!-- Tab Content -->
              <% team_submission = Submission.where(team_id: team.id); %>
              <ul class="nav nav-tabs">
                <% team_submission.each_with_index do |submission, idx| %>
                  <li><a data-toggle="tab" href="#milestone<%= idx + 1 %>">Milestone <%= idx + 1 %></a></li>
                <% end %>
              </ul>
              <div class="tab-content">
                <% if (team_submission.length > 0) %>
                  <% team_submission.each_with_index do |submission, idx| %>
                    <div id="milestone<%= idx + 1 %>" class="tab-pane fade in active">
                      <%= render 'submission_details', locals: {submission: submission} %>
                    </div>
                  <% end %>
                <% else %>
                  <h3>No submissions submitted</h3>
                <% end %>
              </div>
              <!-- End of Tab Content -->

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End of modal box -->
    <% end %>
  </div>
</div>

