<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="text-center"><%= locals[:is_new] ? 'Create' : 'Edit' %> submission of team <%= locals[:submission].team.team_name %></h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for locals[:submission], url: {action: (locals[:is_new] ? 'create' : 'update')},
                 html: {class: 'form-horizontal'} do |f| %>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="submission-read-me">Project Readme:</label>
          <div class="col-sm-10">
            <%= f.text_area :read_me, id: 'submission-read-me',
                             class: 'form-control', placeholder: 'Input project readme',
                             rows: '7', required: true,
                             value: locals[:is_new] ? '' : locals[:submission].read_me %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="submission-project-log">Project Log:</label>
          <div class="col-sm-10">
            <%= f.text_area :project_log, id: 'submission-project-log',
                            class: 'form-control', placeholder: 'Input project readme',
                            rows: '7', required: true,
                            value: locals[:is_new] ? '' : locals[:submission].project_log %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="submission-video-link">Video Link:</label>
          <div class="col-sm-10">
            <%= f.url_field :video_link, id: 'submission-video-link',
                            class: 'form-control', placeholder: 'Input project readme',
                            required: true,
                            value: locals[:is_new] ? '' : locals[:submission].video_link %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="user-submission-milestone">Milestone:</label>
          <div class="col-sm-10">
            <%= f.select :milestone_id, locals[:milestones].map {|m| [m.name, m.id]}, {},
                         {class: 'form-control'} %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit 'Submit', class: 'btn btn-success' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
