<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="text-center">View submission of team <%= locals[:submission].team.team_name %></h3>
  </div>
  <div class="panel-body">
    <div>
      <span class="text-muted pull-right">Last modified at: <%= l locals[:submission].updated_at %></span>
      <h4 class="bold">Submission:</h4>
    </div>
    <br>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="submission_milestone_id">Milestone:</label>
      <div class="well col-sm-12">
        <%= locals[:submission].milestone.name %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="submission_video_link">Video Link:</label>
      <div class="well col-sm-12">
        <span class="autolink"><%= locals[:submission].video_link %></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Project Readme:</label>
      <div class="well col-sm-12 submission-readme">
        <%= locals[:submission].read_me.html_safe %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Project Log:</label>
      <div class="well col-sm-12 submission-project-log">
        <%= locals[:submission].project_log.html_safe %>
      </div>
    </div>
  </div>
</div>
