<% if (submission = locals[:submission]).nil? %>
    <tr>
      <td><%= locals[:milestone].name %></td>
      <td><%= l locals[:milestone].submission_deadline %></td>
      <% if locals[:team].nil? %>
          <td>No information</td>
      <% else %>
          <td>
            <a class="btn btn-primary"
               href="<%= new_milestone_team_submission_path(locals[:milestone].id, locals[:team], target: locals[:milestone].name) %>">Create</a>
          </td>
      <% end %>
    </tr>
<% else %>
    <tr>
      <td><%= submission.milestone.name %></td>
      <td
      <% if submission.updated_at > submission.milestone.submission_deadline %>
      class="late-submitted" data-toggle="tooltip" data-placement="top"
      title="<%= I18n.t('submissions.late_submission_tooltip') %>"
      <% end %>
      ><%= l submission.updated_at %></td>
      <td>
        <a class="btn btn-success"
           href="<%= edit_milestone_team_submission_path(submission.milestone_id, submission.team_id, submission.id) %>">Edit</a>
      </td>
    </tr>
<% end %>
