<% content_for :main_content do %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="text-center">Edit Link for <%= link.name %></h3>
    </div>
    <div class="panel-body">
        <%= simple_form_for(link, wrapper: :horizontal_form, html: {class: 'form-horizontal'},
                    url: {action: 'update'}) do |f| %>
            <%= f.error_notification %>
            <%= f.input :url, placeholder: true, placeholder: 'Enter in url form e.g. https//...' %>
            <%= f.button :submit_centred, class: 'btn-success' %>
        <% end %>
    </div>
  </div>
<% end %>
