<table class="table table-hover">
  <thead>
  <tr><th>Target team</th><th>Last updated at</th><th>Actions</th></tr>
  </thead>
  <tbody>
  <% locals[:feedbacks].each do |feedback| %>
      <% if feedback.target_type_team? %>
          <tr>
            <td><%= feedback.target_team.team_name %></td>
            <td><%= l feedback.updated_at %></td>
            <td>
              <a class="btn btn-default"
                 href="<%= team_feedback_path(feedback.team_id, feedback.id) %>">
                View
              </a>
              <a class="btn btn-success"
                 href="<%= edit_team_feedback_path(feedback.team_id, feedback.id) %>">
                Edit
              </a>
            </td>
          </tr>
      <% elsif feedback.target_type_adviser? %>
          <tr>
            <td><%= feedback.adviser.user.user_name %></td>
            <td><%= l feedback.updated_at %></td>
            <td>
              <a class="btn btn-default"
                 href="<%= team_feedback_path(feedback.team_id, feedback.id) %>">
                View
              </a>
              <a class="btn btn-success"
                 href="<%= edit_team_feedback_path(feedback.team_id, feedback.id) %>">
                Edit
              </a>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
