<div id="<%= locals[:eval].id %>_public">
  <div>
    <% if locals[:eval].updated_at %>
        <span class="text-muted pull-right">
          Last modified at: <%= l locals[:eval].updated_at %>
        </span>
    <% end %>
    <h3>From <%= locals[:evaluator_name] %></h3>
  </div>
  <form class="eval-public-part well">
    <% if locals[:eval].submission.milestone.name == 'Milestone 1' %>
        <%= render 'peer_evaluations/eval1_public_form_part' %>
    <% elsif locals[:eval].submission.milestone.name == 'Milestone 2' %>
        <%= render 'peer_evaluations/eval2_public_form_part' %>
    <% else %>
        <%= render 'peer_evaluations/eval3_public_form_part' %>
    <% end %>
  </form>
  <div class="eval-public-value" style="display: none;">
    <%= locals[:eval].public_content %>
  </div>
</div>
<br>
<br>
