<ul class="nav navbar-nav">
  <li><a href="<%= home_path %>">Home</a></li>
  <li><a href="<%= public_views_public_staff_index_path %>">Staff</a></li>
  <li><a href="<%= public_views_public_projects_path %>">Projects</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users and roles <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="<%= users_path %>">Users</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="<%= students_path %>">Students</a></li>
      <li><a href="<%= facilitators_path %>">Facilitators</a></li>
      <li><a href="<%= advisers_path %>">Advisers</a></li>
      <li><a href="<%= tutors_path %>">Tutors</a></li>
      <li><a href="<%= mentors_path %>">Mentors</a></li>
      <li><a href="<%= admins_path %>">Admins</a></li>
    </ul>
  </li>
  <li><a href="<%= milestones_path %>">Milestones</a></li>
  <li><a href="<%= survey_templates_path %>">Survey Templates</a></li>
  <li><a href="<%= teams_path %>">Teams</a></li>
  <li><a href="<%= evaluatings_path %>">Evaluating relations</a></li>
</ul>
