<ul class="navbar-nav mr-auto">
  <li class="nav-item"><a class="nav-link" href="<%= home_path %>">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= public_views_public_staff_index_path %>">Staff</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= public_views_public_projects_path %>">Projects</a></li>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users and roles <span class="caret"></span></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="<%= users_path %>">Users</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="<%= students_path %>">Students</a>
      <a class="dropdown-item" href="<%= facilitators_path %>">Facilitators</a>
      <a class="dropdown-item" href="<%= advisers_path %>">Advisers</a>
      <a class="dropdown-item" href="<%= tutors_path %>">Tutors</a>
      <a class="dropdown-item" href="<%= mentors_path %>">Mentors</a>
      <a class="dropdown-item" href="<%= admins_path %>">Admins</a>
    </div>
  </li>
  <li class="nav-item"><a class="nav-link" href="<%= milestones_path %>">Milestones</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= survey_templates_path %>">Survey Templates</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= teams_path %>">Teams</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= evaluatings_path %>">Evaluating relations</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= forum_path %>">Forum</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= submissions_path %>">All Teams</a></li>
</ul>
