<ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link" href="<%= home_path %>">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= public_views_public_staff_index_path %>">Staff</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= public_views_public_projects_path %>">Projects</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= students_path %>">Students</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= teams_path %>">Teams</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= evaluatings_path %>">Evaluating relations</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= forum_path %>">Forum</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= submissions_path %>">All Teams</a></li>
</ul>
