<ul class="nav navbar-nav">
  <li><a href="<%= home_path %>">Home</a></li>
  <li><a href="<%= public_views_public_staff_index_path %>">Staff</a></li>
  <li><a href="<%= public_views_public_projects_path %>">Projects</a></li>
  <li><a href="<%= students_path %>">Students</a></li>
  <li><a href="<%= teams_path %>">Teams</a></li>
  <li><a href="<%= evaluatings_path %>">Evaluating relations</a></li>
</ul>
