<table class="table table-hover table-sortable">
  <thead>
  <tr><th class="unsortable sort-index">Index</th><th>Evaluator</th><th>Evaluated</th><th class="unsortable">Actions</th></tr>
  </thead>
  <tbody>
  <% locals[:evaluatings].each_with_index do |evaluating, idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <% if evaluating.evaluator.has_dropped %>
          <span data-toggle="tooltip" data-placement="top" title="<%= I18n.t('teams.has_dropped_tooltip') %>">
            <td><del><%= evaluating.evaluator.team_name %></del></td>
          </span>
        <% else %>
          <td><%= locals[:team].team_name %></td>
        <% end %>
        <% if evaluating.evaluated.has_dropped %>
          <span data-toggle="tooltip" data-placement="top" title="<%= I18n.t('teams.has_dropped_tooltip') %>">
            <td><del><%= evaluating.evaluated.team_name %></del></td>
          </span>
        <% else %>
          <td><%= evaluating.evaluated.team_name %></td>
        <% end %>
        <td>
          <a class="btn btn-default btn-xs" href="<%= edit_evaluating_path(evaluating.id) %>">Edit</a>
          <%= link_to 'Delete', evaluating_path(evaluating.id),
                      :confirm => 'Are you sure to delete this evaluating permanently?', :method => :delete, :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
