<%= content_for :content do %>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="nav-menu">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
                <li><a href="/logout" class="btn btn-default btn-sm navbar-btn">Logout</a></li>
            <% else %>
                <li><a href="/login" class="btn btn-default btn-sm navbar-btn">Login</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" id="main-content">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= content_for?(:submissions_content) ? yield(:submissions_content) : yield %>
    </div>
<% end %>
<%= render template: 'layouts/application' %>
